In [3]:
%pip install duckdb

Collecting duckdb
  Downloading duckdb-1.1.3-cp312-cp312-macosx_12_0_x86_64.whl.metadata (762 bytes)
Downloading duckdb-1.1.3-cp312-cp312-macosx_12_0_x86_64.whl (17.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 17.0/17.0 MB 883.4 kB/s eta 0:00:00m eta 0:00:01[36m0:00:02
Installing collected packages: duckdb
Successfully installed duckdb-1.1.3
Note: you may need to restart the kernel to use updated packages.

In [ ]:
%pip install yfinance

Requirement already satisfied: yfinance in /opt/anaconda3/lib/python3.12/site-packages (0.2.49)
Requirement already satisfied: pandas>=1.3.0 in /opt/anaconda3/lib/python3.12/site-packages (from yfinance) (2.2.2)
Requirement already satisfied: numpy>=1.16.5 in /opt/anaconda3/lib/python3.12/site-packages (from yfinance) (1.26.4)
Requirement already satisfied: requests>=2.31 in /opt/anaconda3/lib/python3.12/site-packages (from yfinance) (2.32.3)
Requirement already satisfied: multitasking>=0.0.7 in /opt/anaconda3/lib/python3.12/site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in /opt/anaconda3/lib/python3.12/site-packages (from yfinance) (5.2.1)
Requirement already satisfied: platformdirs>=2.0.0 in /opt/anaconda3/lib/python3.12/site-packages (from yfinance) (3.10.0)
Requirement already satisfied: pytz>=2022.5 in /opt/anaconda3/lib/python3.12/site-packages (from yfinance) (2024.1)
Requirement already satisfied: frozendict>=2.3.4 in /opt/anaconda3/lib/python3.12/site-packages (from yfinance) (2.4.2)
Requirement already satisfied: peewee>=3.16.2 in /opt/anaconda3/lib/python3.12/site-packages (from yfinance) (3.17.8)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /opt/anaconda3/lib/python3.12/site-packages (from yfinance) (4.12.3)
Requirement already satisfied: html5lib>=1.1 in /opt/anaconda3/lib/python3.12/site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in /opt/anaconda3/lib/python3.12/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: six>=1.9 in /opt/anaconda3/lib/python3.12/site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in /opt/anaconda3/lib/python3.12/site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/lib/python3.12/site-packages (from requests>=2.31->yfinance) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.12/site-packages (from requests>=2.31->yfinance) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/lib/python3.12/site-packages (from requests>=2.31->yfinance) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.12/site-packages (from requests>=2.31->yfinance) (2024.12.14)
Note: you may need to restart the kernel to use updated packages.

In [2]:
from datetime import date
import yfinance as yf
import pandas as pd
import duckdb
from dateutil.relativedelta import relativedelta

In [14]:
tickers_to_download = ['AAPL', 'GOOG','AMZN', 'MSFT', 'AMD', 'NVDA', 'IBM']

# Скачивание данных о котировках
def download_stock_data(ticker, start_date: date, end_date: date):
    data = yf.download(ticker, start=start_date.strftime("%Y-%m-%d"), end=end_date.strftime("%Y-%m-%d"), interval="1d", threads=True)
    # group_by='ticker'
    return data

def preload_date_for_ticker(db_connection, ticker: str, today: date) -> pd.DataFrame:
    start_date = today
    last_item = db_connection.sql("select stock_date from stock_data where ticker like '{}' order by stock_date desc limit 1".format(ticker))   
    if last_item.df().shape[0] == 0:
        start_date = today - relativedelta(years=1)
    else:
        start_date = last_item.df().iloc[0]['stock_date']
    
    print(start_date, "->", ticker)
    
    data = download_stock_data(ticker, start_date, today)

    for index, row in data.iterrows():
        insert_statement = """
            insert into stock_data(ticker, stock_date, open, close, high, low, adj_close, volume) values('{}', '{}', {}, {}, {}, {}, {}, {})  ON CONFLICT DO NOTHING;
        """.format(
                   ticker,
                   index,
                   row['Open'][ticker],
                   row['Close'][ticker],
                   row['High'][ticker],
                   row['Low'][ticker],
                   row['Adj Close'][ticker],
                   row['Volume'][ticker])
        # print(insert_statement)
        db_connection.sql(insert_statement)


def establish_db_connection():
    con = duckdb.connect("./stock_data.db")

    create_table_statement = """
        CREATE TABLE IF NOT EXISTS stock_data (
            ticker varchar(10) not null,
            stock_date datetime not null,
            open FLOAT not null,
            close FLOAT not null,
            high FLOAT not null,
            low FLOAT not null,
            adj_close FLOAT not null,
            volume FLOAT not null
        );
        
    """

    create_index_statement = """
        CREATE UNIQUE INDEX ticker_ts ON stock_data (ticker, stock_date);
    """

    con.sql(create_table_statement)

    try:
        con.sql(create_index_statement)
    except:
        print("index alredy exists")

    return con

In [11]:
con = establish_db_connection()

for t in tickers_to_download:
    preload_date_for_ticker(con, t,  date.today())

[*********************100%***********************]  1 of 1 completed

2024-01-20 -> AAPL

[*********************100%***********************]  1 of 1 completed

2024-01-20 -> GOOG

[*********************100%***********************]  1 of 1 completed

2024-01-20 -> AMZN

[*********************100%***********************]  1 of 1 completed

2024-01-20 -> MSFT

2024-01-20 -> AMD

[*********************100%***********************]  1 of 1 completed

2024-01-20 -> NVDA

[*********************100%***********************]  1 of 1 completed

2024-01-20 -> IBM

[*********************100%***********************]  1 of 1 completed

In [12]:
last_item = con.sql("select stock_date from stock_data where ticker like '{}' order by stock_date desc limit 1".format("IBM"))   
last_item.df().iloc[0]['stock_date']
# start_date = last_item.df().iloc[0]['stock_data']

Timestamp('2025-01-17 00:00:00')

In [13]:
con.close()

In [22]:

def get_rid_of_outliers(source_df: pd.DataFrame): 
    print(source_df.columns)
    # Вычисление межквартильного размаха (IQR)
    Q1 = source_df['Close'].quantile(0.25)  # Первый квартиль (25-й процентиль)
    Q3 = source_df['Close'].quantile(0.75)  # Третий квартиль (75-й процентиль)
    IQR = Q3 - Q1                        # Межквартильный размах

    # Определение границ для выбросов
    lower_bound = Q1 - 1.5 * IQR  # Нижняя граница
    upper_bound = Q3 + 1.5 * IQR  # Верхняя граница

    # Пометка выбросов
    source_df['is_outlier'] = (source_df['Close'] < lower_bound) | (source_df['Close'] > upper_bound)
    window = 5  # Количество дней для среднего
    source_df['price_corrected'] = source_df['Close']
    source_df.loc[source_df['is_outlier'], 'Close'] =  source_df['price_corrected'].rolling(window=window, center=True).mean()
    source_df.drop(columns=['price_corrected'], inplace=True)

In [31]:
data = yf.download('AMZN', start='2024-01-20', end='2025-01-26', interval="1d", threads=True, group_by='Ticker', auto_adjust=True)

[*********************100%***********************]  1 of 1 completed

In [14]:
data['AMZN'].columns

Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object', name='Price')

In [32]:
df = data['AMZN']

In [33]:
get_rid_of_outliers(df)

Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object', name='Price')

/var/folders/yd/h4jp1p2n15l6yrq6ndgwygxh0000gn/T/ipykernel_46793/1721976483.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  source_df['is_outlier'] = (source_df['Close'] < lower_bound) | (source_df['Close'] > upper_bound)
/var/folders/yd/h4jp1p2n15l6yrq6ndgwygxh0000gn/T/ipykernel_46793/1721976483.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  source_df['price_corrected'] = source_df['Close']
/var/folders/yd/h4jp1p2n15l6yrq6ndgwygxh0000gn/T/ipykernel_46793/1721976483.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  source_df.drop(columns=['price_corrected'], inplace=True)

In [34]:
# df.ffill(inplace=True)
df[df['is_outlier'] == True]

Price,Open,High,Low,Close,Volume,is_outlier
Date,,,,,,
2024-12-06,220.750000,227.149994,220.600006,223.373999,44178100,True
2024-12-09,227.210007,230.080002,225.669998,225.793997,46819400,True
2024-12-10,226.089996,229.059998,224.199997,227.477997,31199900,True
2024-12-11,226.410004,231.199997,226.259995,227.563998,35385800,True
2024-12-12,229.830002,231.089996,227.630005,228.931998,28204100,True
2024-12-13,228.399994,230.199997,225.860001,230.153998,28768100,True
2024-12-16,230.229996,233.000000,228.009995,228.206000,37552100,True
2024-12-17,232.389999,232.729996,227.850006,227.069998,35948100,True
2024-12-19,224.910004,226.089996,222.919998,224.987997,39918700,True
2024-12-20,219.839996,226.210007,218.729996,224.567999,88279200,True
2024-12-23,225.009995,226.880005,223.899994,225.873999,28070000,True
2024-12-24,226.940002,229.139999,226.130005,225.966000,15007500,True
2024-12-26,228.500000,228.500000,226.669998,225.242001,16146700,True
2024-12-27,225.600006,226.029999,220.899994,224.108002,27367100,True
2025-01-03,222.509995,225.360001,221.619995,222.704001,27515600,True
2025-01-06,226.779999,228.839996,224.839996,223.252002,31849800,True
2025-01-15,222.830002,223.570007,220.750000,221.234003,31291300,True
2025-01-17,225.839996,226.509995,223.080002,227.134003,42370100,True
2025-01-21,228.899994,231.779999,226.940002,229.548001,39951500,True
2025-01-22,232.020004,235.440002,231.190002,232.386002,41448200,True
2025-01-23,234.100006,235.520004,231.509995,NaN,26404400,True
2025-01-24,234.500000,236.399994,232.929993,NaN,25874200,True